.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;

  &__right {
    ul {
      display: flex;
      gap: 20px;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          font-size: 1.2rem;
          color: #7e7e7e;
        }
      }
    }
  }
}
