.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;

  &__sidebar_menu {
    display: none;
    margin-top: 8px;

    svg {
      font-size: 28px;
    }
  }

  &__right {
    ul {
      display: flex;
      gap: 20px;
      list-style: none;

      li {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  &__change_theme,
  &__notification {
    svg {
      font-size: 1.2rem;
      color: #7e7e7e;
    }
  }
}

@media (max-width: 500px) {
  .header {
    h2 {
      font-size: 20px;
    }

    &__sidebar_menu {
      display: block;
    }

    &__right {
      display: none;
    }

    &__change_theme,
    &__notification {
      svg {
        font-size: 1.1rem;
      }
    }
  }
}
