.sidebar {
  width: 350px;
  height: 100vh;
  box-shadow: 4px 0 40px rgba($color: #d8d6d6, $alpha: 0.5);
  padding: 40px 30px;
  transition: all 0.4s;
  background: #fff;

  &__window {
    width: 100vw;
    height: 100vh;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
  }

  &__window_block {
    display: block;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: center;
    font-size: 1.7rem;

    span {
      line-height: 28px;
      color: #213547;
    }
  }

  &__setting {
    display: flex;
    align-items: center;

    img {
      cursor: pointer;
    }
  }

  &__dashboard {
    margin-left: 12px;
    font-weight: 600;
    font-size: 20px;
  }

  &__middle {
    margin-top: 40px;

    li {
      display: flex;
      height: 46px;
      margin-top: 18px;
      align-items: center;
      padding: 0 13px;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 8px;

      a {
        width: 100%;
        text-decoration: none;
        display: flex;
        align-items: center;

        svg {
          &:first-child {
            width: 35px;
            height: 35px;
            padding: 4px;
            font-size: 1.6rem;
            margin-right: 16px;
            color: #9197b3;
            border: 2px solid #9197b3;
            border-radius: 8px;
          }

          &:last-child {
            font-size: 0.8rem;
            margin: 0;
            margin-left: auto;
            color: #9197b3;
          }
        }
      }

      span {
        color: #9197b3;
      }

      &.active,
      &:hover {
        background: #5932ea;
        color: #fff;

        span {
          color: #fff;
        }

        svg:first-child {
          border-color: #fff;
        }

        * {
          color: #fff;
        }
      }
    }
  }

  &__functions {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
  }

  &__change_theme,
  &__notification {
    margin-top: 18px;

    svg {
      font-size: 1.2rem;
      color: #7e7e7e;
    }
  }

  &__bottom {
    margin-top: auto;
  }

  &__user {
    display: flex;
    align-items: center;
    margin-top: 32px;
    cursor: pointer;

    svg {
      margin-left: auto;
      color: #757575;
      font-size: 0.8rem;
    }
  }

  &__user_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 5px;

    img {
      width: 100%;
    }
  }

  &__name {
    p {
      font-size: 0.8rem;
      font-weight: 500;
    }

    span {
      font-size: 0.75rem;
      color: #757575;
    }
  }

  &__logout {
    display: flex;
    margin-left: auto;
    cursor: pointer;

    svg {
      font-size: 20px;
    }
  }

  &.hidden {
    width: 120px;

    .sidebar__top {
      justify-content: center;

      svg {
        font-size: 2.6rem;
        margin: 0;
      }
      span {
        display: none;
      }
    }

    .sidebar__middle {
      li {
        padding: 0 5px;
        justify-content: center;
        span {
          display: none;
          position: absolute;
          transform: translateX(90px);
          background: #5932ea;
          padding: 8px 16px;
          border-radius: 8px;
          white-space: nowrap;
          color: #fff;
        }

        &:hover span {
          display: block;
          z-index: 9999;
        }

        a {
          justify-content: center;

          svg {
            margin: 0;
          }

          svg:last-child {
            display: none;
          }
        }
      }
    }

    .sidebar__user {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    .sidebar__logout {
      margin: 0;
    }

    .sidebar__name {
      display: none;
    }
  }
}

@media (max-width: 850px) {
  .sidebar {
    width: 80px !important;
    padding: 30px 10px;

    &__top {
      justify-content: center;

      svg {
        font-size: 2.6rem;
        margin: 0;
      }
      span {
        display: none;
      }
    }

    &__middle {
      li {
        padding: 0 5px;
        justify-content: center;
        span {
          display: none;
          position: absolute;
          transform: translateX(90px);
          background: #5932ea;
          padding: 8px 16px;
          border-radius: 8px;
          white-space: nowrap;
          color: #fff;
        }

        &:hover span {
          display: block;
          z-index: 9999;
        }

        a {
          justify-content: center;

          svg {
            margin: 0;
          }

          svg:last-child {
            display: none;
          }
        }
      }
    }

    &__user {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }

    &__logout {
      margin: 0;
    }

    &__name {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .sidebar {
    position: absolute;
    left: -100%;
    z-index: 9999;

    &__functions {
      display: flex;
    }
  }

  .show {
    left: 0;
  }
}
